In [211]:
#

In [212]:
from sklearn.compose import make_column_transformer
from seaborn import load_dataset
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import tensorflow as tf

In [213]:
ohdf = pd.read_csv("Datasets/healthcare-dataset-stroke-data.csv")

In [214]:

ohdf.drop(['id'], axis=1, inplace=True)

In [215]:
ohdf.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [216]:
ohdf['bmi'].isnull().values.any()

True

In [217]:
ohdf = ohdf.dropna(axis=0)
ohdf

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [218]:
oh2df = ohdf[['gender', 'age', 'hypertension', 'heart_disease', 'ever_married', 'work_type',
              'Residence_type','avg_glucose_level', 'bmi', 'smoking_status', 'stroke']]

In [219]:
oh2df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1

In [220]:
oh2df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4909 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4909 non-null   object
 1   age                4909 non-null   float64
 2   hypertension       4909 non-null   int64
 3   heart_disease      4909 non-null   int64
 4   ever_married       4909 non-null   object
 5   work_type          4909 non-null   object
 6   Residence_type     4909 non-null   object
 7   avg_glucose_level  4909 non-null   float64
 8   bmi                4909 non-null   float64
 9   smoking_status     4909 non-null   object
 10  stroke             4909 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 460.2+ KB

In [221]:
transformer = make_column_transformer(
    (OneHotEncoder(), ['gender', 'ever_married', 'work_type',
              'Residence_type', 'smoking_status']),
    remainder='passthrough')

In [222]:
transformed = transformer.fit_transform(oh2df)
binarystroke_df = pd.DataFrame(transformed, columns=transformer.get_feature_names())
print(binarystroke_df.head())

   onehotencoder__x0_Female  onehotencoder__x0_Male  onehotencoder__x0_Other  \
0                       0.0                     1.0                      0.0
1                       0.0                     1.0                      0.0
2                       1.0                     0.0                      0.0
3                       1.0                     0.0                      0.0
4                       0.0                     1.0                      0.0

   onehotencoder__x1_No  onehotencoder__x1_Yes  onehotencoder__x2_Govt_job  \
0                   0.0                    1.0                         0.0
1                   0.0                    1.0                         0.0
2                   0.0                    1.0                         0.0
3                   0.0                    1.0                         0.0
4                   0.0                    1.0                         0.0

   onehotencoder__x2_Never_worked  onehotencoder__x2_Private  \
0                             0.0                        1.0
1                             0.0                        1.0
2                             0.0                        1.0
3                             0.0                        0.0
4                             0.0                        1.0

   onehotencoder__x2_Self-employed  onehotencoder__x2_children  ...  \
0                              0.0                         0.0  ...
1                              0.0                         0.0  ...
2                              0.0                         0.0  ...
3                              1.0                         0.0  ...
4                              0.0                         0.0  ...

   onehotencoder__x4_Unknown  onehotencoder__x4_formerly smoked  \
0                        0.0                                1.0
1                        0.0                                0.0
2                        0.0                                0.0
3                        0.0                                0.0
4                        0.0                                1.0

   onehotencoder__x4_never smoked  onehotencoder__x4_smokes   age  \
0                             0.0                       0.0  67.0
1                             1.0                       0.0  80.0
2                             0.0                       1.0  49.0
3                             1.0                       0.0  79.0
4                             0.0                       0.0  81.0

   hypertension  heart_disease  avg_glucose_level   bmi  stroke
0           0.0            1.0             228.69  36.6     1.0
1           0.0            1.0             105.92  32.5     1.0
2           0.0            0.0             171.23  34.4     1.0
3           1.0            0.0             174.12  24.0     1.0
4           0.0            0.0             186.21  29.0     1.0

[5 rows x 22 columns]

C:\Users\Steven\.conda\envs\PythonData\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [223]:
##OneHotDF
binarystroke_df.head()

,onehotencoder__x0_Female,onehotencoder__x0_Male,onehotencoder__x0_Other,onehotencoder__x1_No,onehotencoder__x1_Yes,onehotencoder__x2_Govt_job,onehotencoder__x2_Never_worked,onehotencoder__x2_Private,onehotencoder__x2_Self-employed,onehotencoder__x2_children,...,onehotencoder__x4_Unknown,onehotencoder__x4_formerly smoked,onehotencoder__x4_never smoked,onehotencoder__x4_smokes,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,67.0,0.0,1.0,228.69,36.6,1.0
1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,80.0,0.0,1.0,105.92,32.5,1.0
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,49.0,0.0,0.0,171.23,34.4,1.0
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,79.0,1.0,0.0,174.12,24.0,1.0
4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,81.0,0.0,0.0,186.21,29.0,1.0

In [224]:
##Get Dummies DF

ohe = pd.get_dummies(data=ohdf, columns=['gender', 'ever_married', 'work_type',
              'Residence_type', 'smoking_status'])
ohe.head()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,gender_Other,ever_married_No,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,67.0,0,1,228.69,36.6,1,0,1,0,0,...,0,1,0,0,0,1,0,1,0,0
2,80.0,0,1,105.92,32.5,1,0,1,0,0,...,0,1,0,0,1,0,0,0,1,0
3,49.0,0,0,171.23,34.4,1,1,0,0,0,...,0,1,0,0,0,1,0,0,0,1
4,79.0,1,0,174.12,24.0,1,1,0,0,0,...,0,0,1,0,1,0,0,0,1,0
5,81.0,0,0,186.21,29.0,1,0,1,0,0,...,0,1,0,0,0,1,0,1,0,0

In [225]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [226]:
data_scaler = StandardScaler()

In [227]:
stroke_data_scaled = data_scaler.fit_transform(ohe)

In [228]:
stroke_data_scaled[:5]

array([[ 1.07013796, -0.31806673,  4.38196829,  2.77769839,  0.98134488,
         4.74215545, -1.19994201,  1.20044746, -0.01427407, -0.72948428,
         0.72948428, -0.38370648, -0.067095  ,  0.86391759, -0.43297779,
        -0.39790627, -0.98563987,  0.98563987, -0.65792577,  2.20567315,
        -0.77834613, -0.42030213],
       [ 1.64656262, -0.31806673,  4.38196829,  0.0138418 ,  0.45926914,
         4.74215545, -1.19994201,  1.20044746, -0.01427407, -0.72948428,
         0.72948428, -0.38370648, -0.067095  ,  0.86391759, -0.43297779,
        -0.39790627,  1.01456935, -1.01456935, -0.65792577, -0.45337633,
         1.28477545, -0.42030213],
       [ 0.27201152, -0.31806673, -0.22820795,  1.48413156,  0.70120668,
         4.74215545,  0.8333736 , -0.83302272, -0.01427407, -0.72948428,
         0.72948428, -0.38370648, -0.067095  ,  0.86391759, -0.43297779,
        -0.39790627, -0.98563987,  0.98563987, -0.65792577, -0.45337633,
        -0.77834613,  2.37924084],
       [ 1.60222226,  3.14399438, -0.22820795,  1.54919261, -0.62308299,
         4.74215545,  0.8333736 , -0.83302272, -0.01427407, -0.72948428,
         0.72948428, -0.38370648, -0.067095  , -1.15751781,  2.30958731,
        -0.39790627,  1.01456935, -1.01456935, -0.65792577, -0.45337633,
         1.28477545, -0.42030213],
       [ 1.69090297, -0.31806673, -0.22820795,  1.82136844,  0.01359474,
         4.74215545, -1.19994201,  1.20044746, -0.01427407, -0.72948428,
         0.72948428, -0.38370648, -0.067095  ,  0.86391759, -0.43297779,
        -0.39790627, -0.98563987,  0.98563987, -0.65792577,  2.20567315,
        -0.77834613, -0.42030213]])

In [229]:
import numpy as np
print(np.mean(stroke_data_scaled[:,0]))
print(np.std(stroke_data_scaled[:,0]))

1.6790172611157388e-16
0.9999999999999999

In [230]:
stroke_data_scaled.shape

(4909, 22)

In [231]:
#Stroke Feature
oheX = ohe.copy()
oheX = oheX.drop("stroke", axis=1)
oheX.head()

,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,67.0,0,1,228.69,36.6,0,1,0,0,1,...,0,1,0,0,0,1,0,1,0,0
2,80.0,0,1,105.92,32.5,0,1,0,0,1,...,0,1,0,0,1,0,0,0,1,0
3,49.0,0,0,171.23,34.4,1,0,0,0,1,...,0,1,0,0,0,1,0,0,0,1
4,79.0,1,0,174.12,24.0,1,0,0,0,1,...,0,0,1,0,1,0,0,0,1,0
5,81.0,0,0,186.21,29.0,0,1,0,0,1,...,0,1,0,0,0,1,0,1,0,0

In [232]:
ohey = ohe["stroke"].values
ohey[:5]

array([1, 1, 1, 1, 1], dtype=int64)

In [233]:
oheX_train, oheX_test, ohey_train, ohey_test = train_test_split(oheX, ohey, random_state=78)

In [234]:
# Determine the shape of our training and testing sets.
print(oheX_train.shape)
print(oheX_test.shape)
print(ohey_train.shape)
print(ohey_test.shape)

(3681, 21)
(1228, 21)
(3681,)
(1228,)

In [235]:
# Splitting into Train and Test sets into an 80/20 split.
oheX_train2, oheX_test2, ohey_train2, ohey_test2 = train_test_split(oheX, ohey, random_state=78, train_size=0.80)

In [236]:
print(oheX_train2.shape)
print(oheX_test2.shape)
print(ohey_train2.shape)
print(ohey_test2.shape)

(3927, 21)
(982, 21)
(3927,)
(982,)

In [237]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
oheX_scaler = scaler.fit(oheX_train)

# Scaling the data.
oheX_train_scaled = oheX_scaler.transform(oheX_train)
oheX_test_scaled = oheX_scaler.transform(oheX_test)

In [238]:
# Create a random forest classifier.

rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [239]:
# Fitting the model
rf_model = rf_model.fit(oheX_train_scaled, ohey_train)

In [240]:
# Making predictions using the testing data.
predictions = rf_model.predict(oheX_test_scaled)

In [241]:
predictions

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [242]:
# Calculating the confusion matrix.
cm = confusion_matrix(ohey_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0         1163            2
Actual 1           63            0

In [243]:
# Calculating the accuracy score.
acc_score = accuracy_score(ohey_test, predictions)
acc_score

0.9470684039087948

In [244]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(ohey_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         1163            2
Actual 1           63            0

Accuracy Score : 0.9470684039087948
Classification Report
              precision    recall  f1-score   support

           0       0.95      1.00      0.97      1165
           1       0.00      0.00      0.00        63

    accuracy                           0.95      1228
   macro avg       0.47      0.50      0.49      1228
weighted avg       0.90      0.95      0.92      1228

In [245]:
# Calculate feature importance in the Random Forest model.
#importances = rf_model.feature_importances_
#importances

array([2.29557686e-01, 3.03824264e-02, 2.59104658e-02, 2.72490814e-01,
       2.27253639e-01, 1.78973140e-02, 1.73025250e-02, 1.76708364e-07,
       9.46913699e-03, 9.08416724e-03, 1.26300231e-02, 1.90031987e-06,
       2.06912228e-02, 1.82006437e-02, 8.65292491e-04, 1.97880842e-02,
       1.84229366e-02, 1.34482591e-02, 1.91315207e-02, 2.13186515e-02,
       1.61531146e-02])

In [246]:
# We can sort the features by their importance.
#sorted(zip(rf_model.feature_importances_, oheX.columns), reverse=True)

[(0.2724908138631274, 'avg_glucose_level'),
 (0.22955768602667456, 'age'),
 (0.227253638794153, 'bmi'),
 (0.030382426374290422, 'hypertension'),
 (0.02591046581427977, 'heart_disease'),
 (0.021318651472636375, 'smoking_status_never smoked'),
 (0.02069122281050654, 'work_type_Private'),
 (0.019788084249817706, 'Residence_type_Rural'),
 (0.019131520747878595, 'smoking_status_formerly smoked'),
 (0.018422936630299844, 'Residence_type_Urban'),
 (0.018200643673785155, 'work_type_Self-employed'),
 (0.017897314041831553, 'gender_Female'),
 (0.01730252502597945, 'gender_Male'),
 (0.016153114571828255, 'smoking_status_smokes'),
 (0.013448259097207566, 'smoking_status_Unknown'),
 (0.012630023054564446, 'work_type_Govt_job'),
 (0.009469136987045402, 'ever_married_No'),
 (0.009084167244391672, 'ever_married_Yes'),
 (0.0008652924914643418, 'work_type_children'),
 (1.900319873750224e-06, 'work_type_Never_worked'),
 (1.7670836439445797e-07, 'gender_Other')]

In [249]:
##RFC Test 2

# Generate our categorical variable list
strokesu = ohdf.dtypes[ohdf.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
ohdf[strokesu].nunique()

gender            3
ever_married      2
work_type         5
Residence_type    2
smoking_status    4
dtype: int64

In [250]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
strokeencode_df = pd.DataFrame(enc.fit_transform(ohdf[strokesu]))

# Add the encoded variable names to the DataFrame
strokeencode_df.columns = enc.get_feature_names(strokesu)
strokeencode_df.head()

C:\Users\Steven\.conda\envs\PythonData\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [252]:
# Merge one-hot encoded features and drop the originals
ohdf = ohdf.merge(strokeencode_df,left_index=True, right_index=True)
ohdf = ohdf.drop(strokesu,1)
ohdf.head()

C:\Users\Steven\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,gender_Other,ever_married_No,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,67.0,0,1,228.69,36.6,1,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2,80.0,0,1,105.92,32.5,1,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,49.0,0,0,171.23,34.4,1,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,79.0,1,0,174.12,24.0,1,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
5,81.0,0,0,186.21,29.0,1,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [254]:
# Remove loan status target from features data
y = ohdf.stroke
X = ohdf.drop(columns=["stroke"])

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [257]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.955

In [259]:
predictions = rf_model.predict(X_test_scaled)
predictions

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [264]:
# Calculating the accuracy score.
acc2_score = accuracy_score(y_test, predictions)
acc2_score

0.9550847457627119

In [265]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0         1126            2
Actual 1           51            1

In [266]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc2_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         1126            2
Actual 1           51            1

Accuracy Score : 0.9550847457627119
Classification Report
              precision    recall  f1-score   support

           0       0.96      1.00      0.98      1128
           1       0.33      0.02      0.04        52

    accuracy                           0.96      1180
   macro avg       0.65      0.51      0.51      1180
weighted avg       0.93      0.96      0.94      1180

In [267]:
importances = rf_model.feature_importances_
importances

array([2.41549970e-01, 2.88611553e-02, 2.77918325e-02, 2.54839099e-01,
       2.13482591e-01, 1.79771406e-02, 2.02733852e-02, 3.46855585e-07,
       1.19128052e-02, 1.28945874e-02, 1.67734963e-02, 1.56132207e-03,
       1.79048629e-02, 1.82637990e-02, 3.59609376e-03, 1.89422907e-02,
       1.81562232e-02, 1.65085993e-02, 2.13135027e-02, 2.08243825e-02,
       1.65725146e-02])

In [268]:
sorted(zip(rf_model.feature_importances_, oheX.columns), reverse=True)

[(0.25483909935849225, 'avg_glucose_level'),
 (0.24154996955283137, 'age'),
 (0.21348259092597802, 'bmi'),
 (0.028861155290647058, 'hypertension'),
 (0.027791832478093477, 'heart_disease'),
 (0.021313502705627718, 'smoking_status_formerly smoked'),
 (0.02082438250784306, 'smoking_status_never smoked'),
 (0.020273385222596873, 'gender_Male'),
 (0.018942290745826106, 'Residence_type_Rural'),
 (0.01826379903996677, 'work_type_Self-employed'),
 (0.018156223161498765, 'Residence_type_Urban'),
 (0.01797714056497793, 'gender_Female'),
 (0.0179048629071365, 'work_type_Private'),
 (0.016773496291491406, 'work_type_Govt_job'),
 (0.016572514625700994, 'smoking_status_smokes'),
 (0.01650859931374333, 'smoking_status_Unknown'),
 (0.012894587380964299, 'ever_married_Yes'),
 (0.011912805241863642, 'ever_married_No'),
 (0.0035960937590065276, 'work_type_children'),
 (0.0015613220701292654, 'work_type_Never_worked'),
 (3.4685558466677893e-07, 'gender_Other')]

In [269]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 24
hidden_nodes_layer2 = 12

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
111/111 [==============================] - 1s 1ms/step - loss: 0.2823 - accuracy: 0.9491
Epoch 2/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1725 - accuracy: 0.9556
Epoch 3/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1546 - accuracy: 0.9556
Epoch 4/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1470 - accuracy: 0.9556
Epoch 5/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1421 - accuracy: 0.9556
Epoch 6/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1391 - accuracy: 0.9559
Epoch 7/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1364 - accuracy: 0.9556
Epoch 8/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1345 - accuracy: 0.9556
Epoch 9/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1334 - accuracy: 0.9553
Epoch 10/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1321 - accuracy: 0.9559
Epoch 11/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1308 - accuracy: 0.9562
Epoch 12/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1297 - accuracy: 0.9553
Epoch 13/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1297 - accuracy: 0.9556
Epoch 14/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1279 - accuracy: 0.9556
Epoch 15/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1271 - accuracy: 0.9556
Epoch 16/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1263 - accuracy: 0.9559
Epoch 17/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1259 - accuracy: 0.9556
Epoch 18/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1250 - accuracy: 0.9559
Epoch 19/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1247 - accuracy: 0.9553
Epoch 20/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1242 - accuracy: 0.9556
Epoch 21/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1234 - accuracy: 0.9562
Epoch 22/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1225 - accuracy: 0.9556
Epoch 23/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1225 - accuracy: 0.9565
Epoch 24/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1217 - accuracy: 0.9556
Epoch 25/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1206 - accuracy: 0.9562
Epoch 26/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1203 - accuracy: 0.9565
Epoch 27/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1196 - accuracy: 0.9573
Epoch 28/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1189 - accuracy: 0.9579
Epoch 29/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1194 - accuracy: 0.9567
Epoch 30/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1178 - accuracy: 0.9570
Epoch 31/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1172 - accuracy: 0.9582
Epoch 32/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1172 - accuracy: 0.9567
Epoch 33/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1159 - accuracy: 0.9582
Epoch 34/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1161 - accuracy: 0.9576
Epoch 35/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1156 - accuracy: 0.9579
Epoch 36/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1145 - accuracy: 0.9582
Epoch 37/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1140 - accuracy: 0.9582
Epoch 38/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1138 - accuracy: 0.9567
Epoch 39/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1133 - accuracy: 0.9579
Epoch 40/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1128 - accuracy: 0.9582
Epoch 41/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1122 - accuracy: 0.9570
Epoch 42/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1121 - accuracy: 0.9584
Epoch 43/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1111 - accuracy: 0.9596
Epoch 44/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1112 - accuracy: 0.9573
Epoch 45/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1102 - accuracy: 0.9593
Epoch 46/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1096 - accuracy: 0.9587
Epoch 47/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1092 - accuracy: 0.9584
Epoch 48/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1089 - accuracy: 0.9590
Epoch 49/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1085 - accuracy: 0.9590
Epoch 50/50
111/111 [==============================] - 0s 1ms/step - loss: 0.1084 - accuracy: 0.9601
37/37 - 0s - loss: 0.1553 - accuracy: 0.9508 - 150ms/epoch - 4ms/step
Loss: 0.1552867889404297, Accuracy: 0.9508474469184875