In [9]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import db_password
import time

In [10]:
stroketrain = pd.read_csv("Datasets/train_stroke_data_cleaned.csv")

In [16]:
stroketrain.tail()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,age_normalized,avg_glucose_level_normalized,bmi_normalized
43384,Female,10.0,0,0,No,Never_worked,Urban,58.64,20,never smoked,0,0.121094,0.015420,0.114943
43385,Female,56.0,0,0,Yes,Govt_job,Urban,213.61,55,formerly smoked,0,0.682617,0.671934,0.517241
43386,Female,82.0,1,0,Yes,Private,Urban,91.94,28,formerly smoked,0,1.000000,0.156492,0.206897
43387,Male,40.0,0,0,Yes,Private,Urban,99.16,33,never smoked,0,0.487305,0.187079,0.264368
43388,Female,82.0,0,0,Yes,Private,Urban,79.48,20,never smoked,0,1.000000,0.103707,0.114943

In [12]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/strokerisk"

In [13]:
engine = create_engine(db_string)

In [14]:
stroketrain.to_sql(name='stroke_data_mlm', con=engine)

In [7]:
# run above code or this code below, not both
# rows_imported = 0
# # get the start_time from time.time()
# start_time = time.time()
# for data in pd.read_csv('Datasets/train_stroke_data_cleaned.csv', chunksize=43389):
#     print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
#     data.to_sql(name='stroke_data_mlm', con=engine, if_exists='append')
#     rows_imported += len(data)

#     # add elapsed time to final print out
#     print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 43389...Done. 3.8423964977264404 total seconds elapsed